{
	"arrowParens": "always",
	"semi": true,
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "strict",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": true,
	"endOfLine": "auto",
	"printWidth": 195,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "all"
}
